body {
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size:14px;
}
body button{
    margin-top: 10px;   font-size:0.8em; background-color: #337CBB; color: white;
}
body button:hover{
    border-radius: 10px 10px;
    box-shadow: 0 20px 10px -10px #9acfea;;
}
#nav{
    background-color: #337CBB;
}
#nav > div a{
    font-weight: normal;
    color: white;
    background-color: #337CBB;
    font-size: 1.3em;
}
#nav ul {
    background-color: #337CBB;
}
#nav > div a:hover{
    color: #9acfea;
}