#button button {
    background-color: #337CBB; color: white;
}
#param{
     color: #337CBB !important;
 }
.taille{
    width:130px; height: 45px;
}
.pixel{
    border:0px;
}
.unit{
    font-weight: bold;
    margin-left: 5px;
}
#down {
    border-top: solid #2e6da4 3px;
    margin-bottom: 10px;
}
#ajout {
    background-color: #337CBB; color: white; margin-top: 10px;
}
#down > div > h3{
    font-size: 3em; margin-top: 10px; margin-right:0px;
}
#sup-2 form {
    margin-left: 20px;
}
#sup-2 form > div{
    margin-top: 40px;
}
#sup-1{
    border-right: solid 5px #337CBB;
    padding-right: 30px;
}
#sup-2 form label{
    margin-right: 90px;
}
#sup-2 form #cp2,#cp3{
    margin-top: 0px;
    margin-bottom: 10px;
}
#texte{
    margin-top: 40px;
}
#bandeau{
    margin-top: 10px;
    margin-bottom: 0px;
}